on:
  push:
    branches:
      - main
  schedule:
    - cron: '45 17 * * *' # 45 17 is roughly 17:45 UTC (afternoon in the US east coast)
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Write access is needed to push changes back to the repository
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: 'latest'

      - name: Running backup script
        run: |
          uv run python download.py

      - name: Commit and push changes
        if: github.ref == 'refs/heads/main'
        run: |
          git status
          git config --local user.email "noreply@github.com"
          git config --local user.name "github-actions[bot]"
          git add data/raw/
          if ! git diff-index --quiet HEAD; then
            git commit -m "Nightly update of raw CDC Event changes - $(date +'%Y-%m-%d')"
            git push -u origin main
          fi
